body {
    background-color: #f4f4f9; /* Fundo claro */
    font-family: 'Montserrat', Arial, sans-serif; /* Fonte personalizada */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333; /* Cor do texto */
    font-size: 3rem; /* Tamanho grande */
    text-align: center;
    text-transform: uppercase; /* Texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

#Tweets {
    background-color: #fff; /* Fundo branco */
    color: #555; /* Cor do texto */
    font-size: 1.2rem; /* Tamanho do texto */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px; /* Largura máxima */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaço abaixo do div */
}

button {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    font-size: 1rem; /* Tamanho do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove bordas */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave */
}

button:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

#kanyeImage {
    width: 200px; /* Largura da imagem */
    height: auto; /* Mantém a proporção */
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}